.msg-error {
    font-weight: 400;
    font-size: 14px;
    color: #ff3b30;
    line-height: normal;
    margin-top: 5px;
}

.checkbox {
    list-style: none;

    li {
        margin-bottom: 1rem;
        font-size: 0.875rem;
        cursor: pointer;
    }
}